{% extends "registration/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<h2 class="text-center">Login</h2>
    <form method="post">
        {% csrf_token %}
        {% for i in form.hidden_fields %}
        {{ i }}
        {% endfor %}
        
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}

        <div class="form-row">
            <div class="col-12">
                <label for="{{form.username.id_for_label}}">Email: </label>
                <input type="text" id="{{form.username.id_for_label}}" name="{{form.username.name}}" class="form-control" required>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-12">
                <label for="{{form.password.id_for_label}}">Password: </label>
                <input type="password" id="{{form.password.id_for_label}}" name="{{form.password.name}}" class="form-control" required>
            </div>
        </div>
        <!-- {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %} -->
        <div class="d-flex float-right">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
{% endblock %}
<!-- Reference: https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html -->