cycler==0.10.0
Django==2.2.21
guppy3==3.0.6.post3
kiwisolver==1.1.0
matplotlib==3.1.1
mpmath==1.1.0
numpy==1.17.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
scipy==1.3.1
six==1.12.0
sqlparse==0.3.0
sympy==1.4
