<!--  -->
<!-- i should be the service object -->
<!--  -->
<div class="card mx-2" style="width: 20rem;">
    {% if i.image %}
    <div class="card-img-top" style="height: 200px; background:url({{i.image.url}}) no-repeat; background-size: cover; background-position: center;">
    </div>
    <!-- <img src="{{i.image.url}}" class="card-img-top" alt="ad images" style="height: 200px; background-color: lightgray;"> -->
    {% endif %}
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                {% if i.provider.generalUserID.profile_image %}
                <div class="rounded-circle mr-2" style="background: url({{i.provider.generalUserID.profile_image.url}}) no-repeat; height: 50px; width: 50px; background-size: cover; background-position: center;"></div>
                {% else %}
                <div>
                    <i class="fa fa-user-circle fa-3x"></i>
                </div> 
                {% endif %}
            </div>
            <div class="col-10 pl-4">
                <h5 class="card-title mb-2 text-success">{{i.service}}</h5>
                <h6 class="mb-0">{{i.provider.generalUserID.first_name}} {{i.provider.generalUserID.last_name}}</h6>
                <h6 class="text-muted font-italic"> {{i.provider.title}}</h6>
            </div>
        </div>
        <div class="d-flex justify-content-end">
                <p class="my-0 small">{{i.provider.generalUserID.city}}, {{i.provider.generalUserID.state}}</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="card-text my-5">"{{i.description}}"</p>
        </div>
        <div class="d-flex align-items-center">
            <p class="my-auto"> {{i.avg_rating|floatformat:2}} </p>
            <span style="color: #ffc72d; font-size: 0.8rem;">
                <i class="fa fa-star fa-2x"></i>
            </span>
            <p class="my-auto mr-auto"> ({{i.rating_set.all.count}})</p>
            <p class="my-auto"> <strong>Avg price: </strong>${{i.rate}}/hr</p>
        </div>
        <a href="{% url 'RateMyServices:professional_profile' i.provider.id %}" class="btn btn-sm btn-success float-right">View Profile</a>
    </div>
</div>