<form action="{% url 'RateMyServices:addService' request.user.id %}" method="post">
    {% csrf_token %}
    <label for="title">Service</label>
    <input type="text" name="service">
    <label for="rate">Hourly Rate</label>
    <input type="number" name="rate">
    <label for="description">Description</label>
    <input type="text" name="description">
    <button type="submit" name="submit" value="service">Add Another Service</button>
    <button type="submit" name="submit" value="done">Done</button>
</form>