<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'RateMyServices/css/customstyle.css' %}">
	</head>
	<body>
		<header>
			<div class="header-container">
				<div class="users-login">
					{% if request.user.first_name == None %}
						<p>{{request.user.}}</p>
						<a class='button btn-primary' id="log-in-bttn" >Log in</a>
						<a class='button btn-secondary' id="sign-up-bttn" >Sign up</a>
					{% else %}
						<p>Hi! {{gUser.first_name}} {{gUser.last_name}} {{request.user.first_name}}</p>
						<a class='button' >Log out</a>
						<a class='button' >account settings</a>
					{% endif %}
				</div>
				<div class="header-search">
					<form action="{% url 'RateMyServices:search' gUser.id%}" method="post">
						{% csrf_token %}
						<input class="left" type="text" placeholder="Search services or ..." name="search">
						<input class="middle" type="text" placeholder="State" name="state">
						<input class="middle" type="text" placeholder="City" name="city">
						<button class="right btn-accent" type="submit">GO!</button>
					</form>
				</div>
			</div>
		</header>
		
		<div class="content">
			{% block content%}
			{% endblock%}
		</div>
	</body>
</html>