{% extends "RateMyServices/base.html" %}

{% block title %}Welcome to RateMyServices!!{% endblock %}

{% block content %}
	<h3>Some popular search:</h3>
	{% if pUsers %}
		{% for p in pUsers %}
			<div class="match-card">
				<div class="puser-container">
					<img class="profile-pic">
					<div class="puser-text">
						<a href="{% url 'RateMyServices:professional_profile' p.id %}"><p>{{p.generalUserID.first_name}} {{p.generalUserID.last_name}}</p></a>
						<h3>{{p.title}}</h3>
					</div>
				
					<div class="contact-info">
						<p>{{p.generalUserID.city}}, {{p.generalUserID.state}}</p>
						<p>{{p.generalUserID.phone}}</p>
						<p>{{p.generalUserID.email}}</p>
					</div>
					<div class="description">
						<p>"{{p.description}}"</p>
					</div>
					<div class="rating">
						<p>{{p.num_rating}}(# of reviews)</p>
					</div>
				</div>
			</div>
		{% endfor %}
		
	{% else %}
		<p>No users are available.<p>
	{% endif %}
{% endblock %}
