{% extends "RateMyServices/base.html" %}

{% block title %}Welcome to RateMyServices!!{% endblock %}

{% block content %}
<!-- Premium ProUser Ads -->
<div class="container-fluid px-0" style="height: 500px;background-color: lightgray;">
	<div id="PremiumpuserAds" class="carousel slide" data-ride="carousel" style="height: 100%;">
		<ol class="carousel-indicators btm-3">
			<li data-target="#PremiumpuserAds" data-slide-to="0" class="active"></li>
			{% for i in dummyPremiumList|slice:"1:" %}
			<li data-target="#PremiumpuserAds" data-slide-to="{{forloop.counter}}"></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active" style="background: url({{dummyPremiumList.0.Urls}}) no-repeat; height: 500px; background-size: cover; background-position: center;">
				<!-- <img src="{{dummyPremiumList.0.Urls}}" class="d-block w-100" alt="..."> -->
				<div class="d-flex justify-content-center">
					<h1 class="mt-4 text-secondary rounded px-2" style="background-color: rgba(255, 255, 255, 0.6)">{{dummyPremiumList.0.Service}}</h1>
				</div>
			</div>
			{% for i in dummyPremiumList|slice:"1:" %}
			<div class="carousel-item" style="background: url({{i.Urls}}) no-repeat; height: 500px; background-size: cover; background-position: center;">
				<!-- <img src="i.Urls" class="d-block w-100" alt="..."> -->
				<div class="d-flex justify-content-center">
					<h1 class="mt-4 text-secondary rounded px-2" style="background-color: rgba(255, 255, 255, 0.6)">{{i.Service}}</h1>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>	

<!-- paid ProUser Ads -->
<div class="container-fluid mt-3">
	<h4 class="text-muted">Promoted Ads</h4>
	<div class="row flex-row flex-nowrap overflow-auto">
		{% for i in dummyList %}
		<div class="col">
			<div class="card mx-2" style="width: 20rem;">
				<img src="{{i.imgUrls}}" class="card-img-top" alt="ad images" style="height: 200px; background-color: lightgray;">
				<div class="card-body">
					<div class="row">
						<div class="col-2">
							<!-- <img class="rounded-circle" height="45px" width="45px" src="" alt="" style="background-color: beige;"> -->
							<i class="fa fa-user-circle fa-3x"></i>
						</div>
						<div class="col-10 pl-4">
							<h5 class="card-title mb-2 text-success">{{i.service}}</h5>
							<h6 class="text-muted">{{i.name}}</h6>
						</div>
					</div>
					<div class="d-flex justify-content-end">
							<p class="my-0 small">{{i.location}}</p>
							<!-- <p class="my-0 small">518-000-0000</p>
							<p class="my-0 small">abc@gmail.com</p> -->
					</div>
					<div class="d-flex justify-content-center">
						<p class="card-text my-5">"{{i.description}}"</p>
					</div>
					<div class="d-flex justify-content-between">
						<p><strong>Rate: </strong> {{i.rate}} ({{i.numOfRate}})</p>
						<p><strong>Avg rates: </strong>${{i.avgRates}}/hr</p>
					</div>
					<a href="#" class="btn btn-sm btn-success float-right">View Profile</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container-fluid mt-3">
		<h4 class="text-muted">Some popular search:</h4>
		<div class="row flex-row flex-nowrap overflow-auto">
			{% if pUsers %}
			{% for i in pUsers %}
			<div class="col">
				<div class="card mx-2" style="width: 20rem;">
					<!-- <img src="{{i.imgUrls}}" class="card-img-top" alt="ad images" style="height: 200px; background-color: lightgray;"> -->
					<div class="card-body">
						<div class="row">
							<div class="col-2">
								<!-- <img class="rounded-circle" height="45px" width="45px" src="" alt="" style="background-color: beige;"> -->
								<i class="fa fa-user-circle fa-3x"></i>
							</div>
							<div class="col-10 pl-4">
								<h5 class="card-title mb-2 text-success">{{i.service_set.all.0.service}}</h5>
								<h6 class="mb-0">{{i.generalUserID.first_name}} {{i.generalUserID.last_name}}</h6>
								<h6 class="text-muted font-italic"> {{i.title}}</h6>
							</div>
						</div>
						<div class="d-flex justify-content-end">
								<p class="my-0 small">{{i.generalUserID.city}}, {{i.generalUserID.state}}</p>
								<!-- <p class="my-0 small">518-000-0000</p>
								<p class="my-0 small">abc@gmail.com</p> -->
						</div>
						<div class="d-flex justify-content-center">
							<p class="card-text my-5">"{{i.description}}"</p>
						</div>
						<div class="d-flex justify-content-between">
							<p><strong>Rate: </strong> {{i.avg_rating}} ()</p>
							<p><strong>Avg rates: </strong>${{i.service_set.all.0.rate}}/hr</p>
						</div>
						<a href="{% url 'RateMyServices:professional_profile' i.id %}" class="btn btn-sm btn-success float-right">View Profile</a>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
