<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    {% for i in pUser.service_set.all %}
        <a class="nav-item nav-link {% if not forloop.counter0 %} active {% endif %}" 
            id="nav-{{forloop.counter0}}-tab" href="#nav-{{forloop.counter0}}" data-toggle="tab" role="tab" aria-controls="nav-{{forloop.counter0}}" 
            aria-selected="{% if not forloop.counter0 %}true {% else %} false {% endif %}"
            ><h4 class="px-3">{{i.service}}</h4>
        </a>
    {% endfor %}
    {% if editable %}
        <a class="nav-item nav-link" id="nav-addService-tab"  href="{% url 'RateMyServices:addServicePage' request.user.id %}"><h4 class="px-3">+</h4></a>
    {% endif %}
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    {% for i in serviceWithReviews %}
        <div class="tab-pane fade {% if not forloop.counter0 %}show active{% endif %} p-3" 
            id="nav-{{forloop.counter0}}" role="tabpanel" aria-labelledby="nav-{{forloop.counter0}}-tab">
            <div class="py-4 d-flex ">
                {% if editable %}
                <div class="d-flex flex-column px-4">
                    <i class="fa fa-picture-o fa-9x" style="font-size: 20rem; color: gray;"></i>
                    <p class="btn btn-outline-secondary">add some picture!</p>
                </div>
                {% endif %}
                <div class="d-flex flex-column">
                    <p class="my-auto py-4">{{i.0.description}}</p>
                    <p class="mt-auto"> <strong> Price: </strong>${{i.0.rate}} {% if i.0.isHour %} /hr {% else %} (Standard price) {% endif %}</p>
                </div>
            </div>
            <hr>
            <h4 class="text-muted">Reviews</h4>
            {% if i.1|length %}
                {% for j in i.1 %}
                    <div class="media p-3">
                        <div class="d-flex flex-column" style="width: 100px;">
                            <div class="mx-auto"><i class="fa fa-user-circle fa-3x"></i></div>
                            <p class="text-center mt-1 mb-0">{{j.rater.first_name}} {{j.rater.last_name}}</p>
                            {% if j.verified %}
                            <span class="mx-auto" style="color: rgb(53, 172, 53);">
                                <p class="my-auto"><i class="fa fa-check-square-o"></i><small>verified</small></p>
                            </span>
                            {% endif %}
                        </div>
                        <div class="media-body pl-3">
                            {% with range=''|center:j.rating  %}
                            {% for q in range %}
                            <i class="fa fa-star" style="color: #ffc72d;"></i>
                            {% endfor %}
                            {% endwith %}
                            <p class="mt-2">{{j.description}}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <div class="p-3">
                    <p>There is no comment yet. Do you want to write a review?</p>
                </div>
            {% endif %}
            
            <!-- only others can leave rate or hire you -->
            {% if request.user.id != pUser.generalUserID.id%}
            <div class="d-flex float-right pb-3">
                <!-- <a href="" class="btn btn-outline-success mx-2">reviews</a> -->
                <button type="button" class="btn btn-outline-success mx-2" data-toggle="modal" data-target="#giverateModal{{forloop.counter0}}">Rate this service!</button>
                <button type="button" class="btn btn-success mx-2" data-toggle="modal" data-target="#hireModal{{forloop.counter0}}">Hire!</button>
            </div>

            <div class="modal fade" id="giverateModal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="giverateModal{{forloop.counter0}}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <form action="{% url 'RateMyServices:rate' %}" method="post">  
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="giverateModal{{forloop.counter0}}Label">Rate This Service</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="modal-body">
                            <p class="mb-0"><strong>Service:</strong> {{i.0.service}}</p> 
                            <small class="text-muted mt-1">by {{i.0.provider}}</small>
                            <p></p>
                            <div class="d-none">
                                <input type="text" class="form-control" readonly name="provider" value="{{pUser.id}}">
                                <input type="text" class="form-control" readonly name="service" value="{{i.0.id}}">
                            </div>
                            <label for="rating">How many stars would you like to give {{pUser.generalUserID.first_name}} {{pUser.generalUserID.last_name}}?</label>
                            <!-- <select type="number" class="form-control" id="rating" name="rating">
                                <option value="5" selected="selected">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select> -->
                            <div class="rating my-0 py-0">
                                <!-- reference: https://bootsnipp.com/snippets/qr6zz#comments -->
                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
                            </div>
                            <div style="height: 4.3rem;"></div>
                            <label for="description" class="d-block">Would you like to wirte a review?</label>
                            <textarea type="text-area" class="form-control" id="description" name="description" rows="4"></textarea>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Give Rate!</button>
                        {% else %}
                        <div class="modal-body" style="height: 250px;">
                            <div class="d-flex align-items-center">
                                <p>"This feature requires you to log in. Please log in and try again."</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </form>
                </div>
            </div>

            <div class="modal fade" id="hireModal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="hireModal{{forloop.counter0}}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form action="{% url 'RateMyServices:hire' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="hireModal{{forloop.counter0}}Label">Hire This Service</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% if request.user.is_authenticated %}
                            <div class="modal-body">
                                <p class="mb-0"><strong>Service:</strong> {{i.0.service}}</p> 
                                <small class="text-muted mt-1">by {{i.0.provider}}</small>
                                <p></p>
                                <div class="d-none">
                                    <input type="text" class="form-control" readonly name="provider" value="{{pUser.id}}">
                                    <input type="text" class="form-control" readonly name="service" value="{{i.0.id}}">
                                </div>
                                <div class="form-group">
                                    <label for="name">Name on card</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                    <span class="invalid-feedback">Enter the name as shown on credit card</span>
                                </div>
                                <div class="form-group">
                                    <label for="card">Card number</label>
                                    <input type="tel" class="form-control" id="card" name="card" required pattern="[0-9]{16}"></input>
                                    <span class="invalid-feedback">Enter a valid 16 digit card number</span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="exp">Expiration</label>
                                            <input id="exp" name="exp" type="tel" class="form-control" required placeholder="MM / YY">
                                            <span class="invalid-feedback">Enter the expiration date</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="code">Security code</label>
                                        <input id="code" name="code" type="tel" class="form-control" required>
                                        <span class="invalid-feedback order-last">Enter the 3-digit code on back</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="zip">Postal code</label>
                                    <input id="zip" name="zip" type="text" class="form-control" value="" data-val="true" data-val-required="Please enter the ZIP/Postal code">
                                    <span class="help-block" data-valmsg-for="zip" data-valmsg-replace="true"></span>
                                </div>
                                <div>
                                    <button id="pay" type="submit" class="btn btn-lg btn-info btn-block">
                                        <span id="pay-button">Pay</span>
                                    </button>
                                </div>
                            </div>
                            {% else %}
                            <div class="modal-body" style="height: 250px;">
                                <div class="d-flex align-items-center">
                                    <p>"This feature requires you to log in. Please log in and try again."</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>

            {% else %}
            <div class="d-flex float-right pb-3">
                    <!-- <a href="" class="btn btn-outline-success mx-2">reviews</a> -->
                <button type="button" class="btn btn-danger mx-2" data-toggle="modal" data-target="#deleteModal{{forloop.counter0}}">Delete</button>
            </div>

            <div class="modal fade" id="deleteModal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{forloop.counter0}}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form action="{% url 'RateMyServices:deleteService' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal{{forloop.counter0}}Label">Delete This Service?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="mb-0"><strong>Service:</strong> {{i.0.service}}</p> 
                                <small class="text-muted mt-1">by {{i.0.provider}}</small>
                                <p></p>
                                <div class="d-none">
                                    <input type="text" class="form-control" readonly name="provider" value="{{pUser.id}}">
                                    <input type="text" class="form-control" readonly name="service" value="{{i.0.id}}">
                                </div>
                                <div class="form-group">
                                    <label for="delete">Are you sure you would like to delete this service?</label>
                                    <button id="delete" type="submit" class="btn btn-danger btn-lg btn-info btn-block">
                                        <span id="delete-button">Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {% endif %}
        </div>
    {% endfor %}
</div>
