<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{% static 'RateMyServices/images/favicon.ico' %}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<script src="https://use.fontawesome.com/c2ffd95238.js"></script>  
        <link rel="stylesheet" type="text/css" href="{% static 'RateMyServices/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'RateMyServices/css/general_profile.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'RateMyServices/css/rating.css' %}">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
	</head>
	<body>
		<div class="navbar navbar-expand-md navbar-dark bg-dark sticky-top ">
			<h6><a href="/" class="btn btn-outline-success btn-sm text-docration-none">Home (go back)</a></h6>
		</div>
		{% if error_message %}
		<p>
			<strong>
				{{ error_message }}
			</strong>
		</p>
		{% endif %}

		<!--Profile Picture and Username-->
		<div class="jumbotron jumbotron-fluid text-center">
			<div>
				<i class="fa fa-user-circle fa-5x"></i>
			</div> 
			<h1>{{ pUser.generalUserID.first_name }} {{ pUser.generalUserID.last_name }}</h1>
			<p>{{ pUser.generalUserID.city }}, {{ pUser.generalUserID.state }}</p> 
			<div>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<!-- <button type="submit">Upload</button> -->
					{% if request.user.is_professional %}
					<a  class="btn btn-info" href="{% url 'RateMyServices:my_profile' %}" >Upload DP</a>
					{% endif %}
					{% if request.user.is_professional %}
					<a  class="btn btn-info" href="{% url 'RateMyServices:my_profile' %}" role="button" aria-expanded="false" aria-controls="collapseExample">Edit Profile</a>
						<!-- {% if request.user.pUser.generalUserID == pUser.generalUserID %} -->
						<!-- {% endif %}	 -->
					{% endif %}
					</form>
			</div>
		</div>
		<div id="userInformation" class="carousel" data-interval="false">
			<!-- data-interval="false" makes it don't automatically rotate the slides -->
			<!-- I also remove the transition so that it fit the needs here -->
                <div class="carousel-inner">
					<!-- static page; index:0 -->
					<div class="carousel-item active">
						<div style="align-content: center">
							<table cellspacing="20" align="center" style="font-size: 20px">
								<tr>
									<th>Email</th>
									<th>{{ pUser.generalUserID.email }}</th>
								</tr>
								<tr style="padding: 30px">
									<th style="padding-right: 60px">State</th>
									<th>{{ pUser.generalUserID.state }}</th>
								</tr>
								<tr style="padding: 30px">
									<th>City</th>
									<th>{{ pUser.generalUserID.city }}</th>
								</tr>
								<tr style="padding: 30px">
									<th>Street</th>
									<th>{{ pUser.generalUserID.street }}</th>
								</tr>
								<tr style="padding: 30px">
									<th>Zip</th>
									<th>{{ pUser.generalUserID.zips }}</th>
								</tr>
								{% if editable%}
								<tr style="padding: 30px">
									<td colspan="2">
										<button class="btn btn-outline-dark mt-1 w-100" data-target="#userInformation" data-slide-to="1">Edit</button>
									</td>
								</tr>
								{% endif %}
								
							</table>
						</div>
					</div>
					<!-- editing page; index:1 -->
					{% if editable %}
                    <div class="carousel-item" >
						<div style="align-content: center">
							
							<form action="{% url 'RateMyServices:updateUserInfo' %}" method="POST">
								{% csrf_token %}
							<table cellspacing="20" align="center" style="font-size: 20px">
								<tr>
									<td colspan="2">
										<div class="alert alert-info">
											<small>Please fill in the fields that you want to make changes</small>
										</div>
									</td>
								</tr>
								<tr style="padding: 30px">
									<th>Email</th>
									<th>
										<input class="form-control form-control-sm" type="text" name="email" placeholder="{{pUser.generalUserID.email}}">
									</th>
								</tr>
								<tr style="padding: 30px">
									<th style="padding-right: 60px">State</th>
									<th>
										<input class="form-control form-control-sm" type="text" name="state" placeholder="{{pUser.generalUserID.state}}">
									</th>
								</tr>
								<tr style="padding: 30px">
									<th>City</th>
									<th>
										<input class="form-control form-control-sm" type="text" name="city" placeholder="{{pUser.generalUserID.city}}">
									</th>
								</tr>
								<tr style="padding: 30px">
									<th>Street</th>
									<th>
										<input class="form-control form-control-sm" type="text" name="street" placeholder="{{pUser.generalUserID.street}}">
									</th>
								</tr>
								<tr style="padding: 30px">
									<th>Zip</th>
									<th>
										<input class="form-control form-control-sm" type="text" name="zips" placeholder="{{pUser.generalUserID.zips}}">
									</th>
								</tr>
								
								<tr style="padding: 30px">
									<td colspan="2">
										<div class="d-flex">
											<button class="btn btn-outline-dark mt-1 mr-1 flex-fill" data-target="#userInformation" data-slide-to="0">Cancel</button>
											<button class="btn btn-success mt-1 ml-1 flex-fill" type="submit">Save Change</button>
										</div>
									</td>
								</tr>
							</table>
							</form>
						</div>
					</div>
					{% endif %}
                </div>
            
			</div>
			
		<!-- Service Block starts here -->
		<div class="mt-5">
			<!-- <h3 class="px-3 pt-3 text-muted font-italic">Services Provided</h3> -->

			{% include "RateMyServices/pp_service_block.html" %}

		</div>
	</body>
	
</html>




