{% extends 'registration/base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content%}
<body>
    <p>sign up page</p>
    <form action="" method="POST"> {% csrf_token %}
        {% for i in form.hidden_fields %}
        {{ i }}
        {% endfor %}
        
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Sign up</button>
    </form>
</body>
{% endblock%}