{% extends "RateMyServices/base.html" %}

{% block title %} 
    {% if request.user.professionaluser_set.all.0.isDiamond or request.user.professionaluser_set.all.0.isPlatinum %}
        Manage My Plan
    {% else %}
        Upgrade Your Plans! 
    {% endif %}
{% endblock %}

{% block content %}
<div class="p-3">
    <div>
        {% if request.user.professionaluser_set.all.0.isDiamond or request.user.professionaluser_set.all.0.isPlatinum %}
        <h2 class="text-center">Manage My Plan</h2>
        {% else %}
        <h2 class="text-center">Become a Premium Member</h2>
        {% endif %}
        <h4>Why you should become Premium Member:</h4>
        <ul>
            <li>Be the First to be noticed!</li>
            <li>Advertise More, Attract More!</li>
        </ul>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex flex-column">
            <table width="50%">
            {% if not request.user.professionaluser_set.all.0.isDiamond %}
            <tr>
                <td><span>Appear On the Biggest Slider</span></td>
                <td><span><input type="radio" name="premiumtype" value="Diamond" id="Diamond" required><label for="Diamond">Become a Diamond Member!</label></span></td>
            </tr>
            {% endif %}
            {% if not request.user.professionaluser_set.all.0.isPlatinum %}
            <tr>
                <td><span>Appear On the Middle Slider</span></td>
                <td><span><input type="radio" name="premiumtype" value="Platinum" id="Platinum"><label for="Platinum">Become a Platinum Member!</label></span></td>
            </tr>
            {% endif %}
            {% if request.user.professionaluser_set.all.0.isDiamond or request.user.professionaluser_set.all.0.isPlatinum %}
            <tr>
                <td><span>Think Twice Please!</span></td>
                <td><span><input type="radio" name="premiumtype" value="noPremium" id="noPremium"><label for="noPremium">Cancel Premium Membership!</label></span></td>
            </tr>
            {% endif %}
            </table>
            <button class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
                