{% load static %}
{% if request.user.first_name == None %}
    <!-- <div class="form-row"> -->
        <div class="btn-group d-flex d-inline">
            <form class="mr-1" action="{% url 'RateMyServices:login' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success btn-sm" type="submit">Log in</button>
            </form>
            <form class="" action="{% url 'RateMyServices:signup_view' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-success btn-sm" type="submit">Sign up</button>
            </form>
        </div>
    <!-- </div> -->
{% else %}
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary p-1 dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle mr-2" height="45px" width="45px" src="{% static 'RateMyServices/images/profile_dumy.jpg' %}" alt=""/>
            <div class="d-flex flex-column mr-2">
                <div class="mb-1 p-0 text-nowrap overflow-hidden">{{request.user.get_full_name}}</div>
                {% if request.user.is_professional %}
                    <div class="badge badge-pill badge-warning mr-auto" style="font-size: 9px;">professional user</div>
                {% else %}
                    <div class="badge badge-pill badge-success mr-auto" style="font-size: 9px;">general user</div>
                {% endif %}
            </div>
        </button>

        <div class="dropdown-menu dropdown-menu-right px-0 py-1">
            <a class="dropdown-item" href="{% url 'RateMyServices:my_profile' %}">
                <span style="color: gray;" class="mr-2"><i class="fa fa-address-card fa-1x"></i></span>View My Profile </a>
            {% if request.user.is_professional %}
                <a class="dropdown-item" href="{% url 'RateMyServices:addServicePage' request.user.id %}">
                    <span style="color: gray;" class="mr-2"><i class="fa fa-plus fa-1x"></i></span>Add Services</a>
            {% else %}
                <a class="dropdown-item" href="{% url 'RateMyServices:becomeProUser' request.user.id %}">
                    <span style="color: gray;" class="mr-2"><i class="fa fa-briefcase fa-1x"></i></span>Become a Professional User</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'RateMyServices:logout' %}">
                <span style="color: gray;" class="mr-2"><i class="fa fa-sign-out fa-1x"></i></span>Log out</a>
        </div>
    </div>
    <!-- <form action="{% url 'RateMyServices:logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-accent" type="submit">Log out!</button>
    </form>
    <a class='button btn-primary' >account settings</a> -->
{% endif %}