{% load static %}
{% if request.user.first_name == None %}
    <!-- <div class="form-row"> -->
        <div class="btn-group d-flex d-inline">
            <form class="mr-1" action="{% url 'RateMyServices:login' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success btn-sm" type="submit">Log in</button>
            </form>
            <form class="" action="{% url 'RateMyServices:signup_view' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-success btn-sm" type="submit">Sign up</button>
            </form>
        </div>
    <!-- </div> -->
{% else %}
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary p-1 dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.profile_image %}
            <div class="rounded-circle mr-2" style="background: url({{request.user.profile_image.url}}) no-repeat; height: 50px; width: 50px; background-size: cover; background-position: center;"></div>
			{% else %}
			<div>
				<i class="fa fa-user-circle fa-3x mr-2"></i>
			</div> 
			{% endif %}
            <div class="d-flex flex-column mr-2">
                <div class="mb-1 p-0 text-nowrap overflow-hidden">{{request.user.get_full_name}}</div>
                {% if request.user.is_professional %}
                <div class="badge badge-pill badge-warning mr-auto" style="font-size: 9px;">professional user
                        {% if request.user.professionaluser_set.all.0.isDiamond or request.user.professionaluser_set.all.0.isPlatinum %}
                        <i class="fa fa-diamond" style="font-size: 1em;"></i>
                        {% endif %}
                </div>
                {% else %}
                    <div class="badge badge-pill badge-success mr-auto" style="font-size: 9px;">general user</div>
                {% endif %}
            </div>
        </button>

        <div class="dropdown-menu dropdown-menu-right px-0 py-1">
            <a class="dropdown-item" href="{% url 'RateMyServices:my_profile' %}">
                <span style="color: gray;" class="mr-2"><i class="fa fa-address-card fa-1x"></i></span>View My Profile </a>
            {% if request.user.is_professional %}
                <a class="dropdown-item" href="{% url 'RateMyServices:addServicePage' request.user.id %}">
                    <span style="color: gray;" class="mr-2"><i class="fa fa-plus fa-1x"></i></span>Add Services</a>
                {% if not request.user.professionaluser_set.all.0.isDiamond %}
                <a class="dropdown-item" href="{% url 'RateMyServices:becomePremium' %}">
                    <span style="color: gray;" class=""><i class="fa fa-diamond"></i></span> Upgrade to Premium
                </a>
                {% endif %}
                {% if request.user.professionaluser_set.all.0.isDiamond or request.user.professionaluser_set.all.0.isPlatinum %}
                <a href="" class="dropdown-item disabled">
                    Manage my plans
                </a>
                {% endif %}
            {% else %}
                <a class="dropdown-item" href="{% url 'RateMyServices:becomeProUser' request.user.id %}">
                    <span style="color: gray;" class="mr-2"><i class="fa fa-briefcase fa-1x"></i></span>Become a Professional User</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'RateMyServices:logout' %}">
                <span style="color: gray;" class="mr-2"><i class="fa fa-sign-out fa-1x"></i></span>Log out</a>
        </div>
    </div>
    <!-- <form action="{% url 'RateMyServices:logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-accent" type="submit">Log out!</button>
    </form>
    <a class='button btn-primary' >account settings</a> -->
{% endif %}